params {
    gusHomeDir = "/path/to/gusHome"
    gusConfigFile = "/path/to/gusConfigFile" // we can't assume the gus config is in gus_home
    workflowDataDir = "$baseDir/data" // this mimics a workflow's data dir
    mode = "rnaseq"
    outputDir = "$launchDir/results"
    //datasetName = "tgonGT1_crisprPhenotype_CrisprScreen_RSRC" // this can be used to filter to a single dataset
    datasetName = "" // this can be used to filter to a single dataset
    multiDatasetStudies = "$baseDir/data/rnaseq_sample_reannotation/multiDatasetStudy.json"
    studyWranglerTag = "1.0.27" // docker image tag for study-wrangler (use custom tag for local development)
    workflowPath = "${params.workflowDataDir}/*/*/${params.mode}"
    filePatterns = [ebiRnaSeqCounts: "${params.workflowPath}/*/nextflowAnalysisDir/nextflow_output/analysis_output/{countsForEda,merged-0.25-eigengenes}*",
                    rnaSeqCounts: "${params.workflowPath}/*/bulkrnaseq/analysisDir/nextflowAnalysisDir/nextflow_output/analysis_output/countsForEda*",
                    rnaseqAiMetadata: "${params.workflowDataDir}/rnaseq_sample_reannotation/*/*.{tsv,yaml}",
                    antibodyArray: "${params.workflowPath}/${params.datasetName}/*.{txt,tab}",
                    cellularLocalization: "${params.workflowPath}/${params.datasetName}/*.{txt,tab}",
                    rflp: "${params.workflowPath}/${params.datasetName}/*.{txt,tab}",
                    phenotype: "${params.workflowPath}/${params.datasetName}/*.{txt,tab}"]
}

process {
  maxForks = 2
}

includeConfig "$baseDir/conf/singularity.config"
