singularity.enabled     = true
singularity.autoMounts  = true
docker.enabled          = false
apptainer.enabled       = false
singularity.runOptions  = "-B /home:/home --env GUS_HOME=${params.gusHomeDir} --env MY_R_LIB=$baseDir/lib/R -B $baseDir/lib/R --bind ${params.workflowDataDir}:${params.workflowDataDir}"
homeMount = true
